.container {
    overflow: hidden;
    width: 100vw; /* Ensures container does not overflow */
    height: 100vh; /* Ensures container does not overflow */
}

.scrolling-background {
    height: 100vh;
    width: 2253px;
    background: url('../Homepage/dark-background-with-repetitive-pattern-vector-36744637.jpg') repeat;
    animation: scrollBackground 25s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}

/* For modern browsers */
.chat-scroll-area::-webkit-scrollbar {
    width: 6px;
}

.chat-scroll-area::-webkit-scrollbar-track {
    background: transparent;
}

.chat-scroll-area::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

/* Firefox */
.chat-scroll-area {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.2) transparent;
}