.container {
    overflow: hidden;
    width: 100vw; 
    height: 100vh; 
}

.scrolling-background {
    height: 100vh;
    width: 2253px;
    background: url('./dark-background-with-repetitive-pattern-vector-36744637.jpg') repeat;
    animation: scrollBackground 25s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0
    }
}
